
:root {
    --first: #5e77ee;
    --second: #0c7e75;

    --white: #fff;
    --light: ivory;
    --black: #000;
    --dark: #071715;
    --orange: #fa5c1a;
    --danger: #b00b00;
    --sun: #ef5;
    --purpur: #70e;
}