/* шпальта */
.w-1200{
    width: 1200px;
    margin: auto;
}

@media(max-width: 1240px){
    .w-1200{
        width: 95%;
    }
}




/* колонки */
.grid-6421{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

@media(max-width: 996px){
    .grid-6421{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width: 776px){
    .grid-6421{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 540px){
    .grid-6421{
        grid-template-columns: 1fr;
    }
}


.grid-4321{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media(max-width: 996px){
    .grid-4321{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 776px){
    .grid-4321{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 540px){
    .grid-4321{
        grid-template-columns: 1fr;
    }
}


.grid-4221{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media(max-width: 996px){
    .grid-4221{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 540px){
    .grid-4221{
        grid-template-columns: 1fr;
    }
}


.grid-2221{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media(max-width: 540px){
    .grid-2221{
        grid-template-columns: 1fr;
    }
}




/* відступи */
.gap-20{
    grid-gap: 20px;
}

.gap-10{
    grid-gap: 10px;
}

.gap-5{
    grid-gap: 5px;
}